In [1]:
import os
from tkinter import Y
import torch
import torch.nn.functional as F
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image
import glob
import sys
sys.path.insert(0, '/mnt/hdd2/gender_detect/yoloface/')

from face_detector import YoloDetector
import cv2
from outerutils.constants import *
import pandas as pd
import face_recognition
from PyVGGFace.lib import VGGFace

In [2]:
# Load gender prediction model
gender_net = cv2.dnn.readNetFromCaffe(GENDER_MODEL, GENDER_PROTO)
# Load age prediction model
age_net = cv2.dnn.readNetFromCaffe(AGE_MODEL, AGE_PROTO)

In [4]:
# from: https://stackoverflow.com/questions/44650888/resize-an-image-without-distortion-opencv
def image_resize(image, width = None, height = None, inter = cv2.INTER_AREA):
    # initialize the dimensions of the image to be resized and
    # grab the image size
    dim = None
    (h, w) = image.shape[:2]
    # if both the width and height are None, then return the
    # original image
    if width is None and height is None:
        return image
    # check to see if the width is None
    if width is None:
        # calculate the ratio of the height and construct the
        # dimensions
        r = height / float(h)
        dim = (int(w * r), height)
    # otherwise, the height is None
    else:
        # calculate the ratio of the width and construct the
        # dimensions
        r = width / float(w)
        dim = (width, int(h * r))
    # resize the image
    return cv2.resize(image, dim, interpolation = inter)    

def predict_gender(face_img):
    """
    Predict the gender of the face shown in the image
    Input: face_img, numpy array
    Return: gender label
    """
    print("face_img.shape", face_img.shape)
    if face_img.shape[1] > 105:
        face_img = image_resize(face_img, width=105)

    blob = cv2.dnn.blobFromImage(
        image=face_img, scalefactor=1.0, size=(227, 227),
        mean=MODEL_MEAN_VALUES, swapRB=False, crop=False
    )
    gender_net.setInput(blob)
    gender_preds = gender_net.forward()

    i = gender_preds[0].argmax()
    gender = GENDER_LIST[i]
    gender_confidence_score = gender_preds[0][i]
    label = f"{gender}-{gender_confidence_score*100:.1f}%"
    print(label)
    return label

def predict_age(face_img):
    """
    Predict the age of the face shown in the image
    Input: face_img, numpy array
    Return: gender label
    """
    blob = cv2.dnn.blobFromImage(
        image=face_img, scalefactor=1.0, size=(227, 227),
        mean=MODEL_MEAN_VALUES, swapRB=False
    )
    age_net.setInput(blob)
    age_preds =  age_net.forward()
    i = age_preds[0].argmax()
    age = AGE_INTERVALS[i]
    age_confidence_score = age_preds[0][i]
    # Draw the box
    label = f"Age: {age}-{age_confidence_score*100:.1f}%"
    return label

In [6]:
df = pd.read_csv('/mnt/hdd2/gender_detect/just_yolo_frames/19288/1822741/export.csv')
df

,frameid,timestamp,bbloc,img_path,name
0,0,0.00,"[661, 144, 750, 274]",just_yolo_frames/19288/1673740/frame0.jpg,frame0
1,5,166.83,"[696, 112, 791, 253]",just_yolo_frames/19288/1673740/frame5.jpg,frame0
2,10,333.67,"[714, 98, 810, 234]",just_yolo_frames/19288/1673740/frame10.jpg,frame0
3,15,500.50,"[724, 90, 823, 233]",just_yolo_frames/19288/1673740/frame15.jpg,frame0
4,20,667.33,"[718, 90, 819, 235]",just_yolo_frames/19288/1673740/frame20.jpg,frame0
...,...,...,...,...,...
200,875,29195.83,"[738, 69, 980, 400]",just_yolo_frames/19288/1822741/frame875.jpg,frame620
201,880,29362.67,"[732, 67, 975, 398]",just_yolo_frames/19288/1822741/frame880.jpg,frame620
202,885,0.00,"[722, 65, 965, 394]",just_yolo_frames/19288/1822741/frame885.jpg,frame620
203,890,0.00,"[712, 64, 956, 392]",just_yolo_frames/19288/1822741/frame890.jpg,frame620
204,895,0.00,"[702, 67, 945, 393]",just_yolo_frames/19288/1822741/frame895.jpg,frame620

In [8]:
df.name.unique()

array(['frame0', nan, 'frame75', 'frame230', 'frame175', 'frame550', 'frame265', 'frame515', 'frame560', 'frame580', 'frame585', 'frame625', 'frame620', 'frame830'], dtype=object)

In [11]:
df = df.dropna()
df

,frameid,timestamp,bbloc,img_path,name
0,0,0.00,"[661, 144, 750, 274]",just_yolo_frames/19288/1673740/frame0.jpg,frame0
1,5,166.83,"[696, 112, 791, 253]",just_yolo_frames/19288/1673740/frame5.jpg,frame0
2,10,333.67,"[714, 98, 810, 234]",just_yolo_frames/19288/1673740/frame10.jpg,frame0
3,15,500.50,"[724, 90, 823, 233]",just_yolo_frames/19288/1673740/frame15.jpg,frame0
4,20,667.33,"[718, 90, 819, 235]",just_yolo_frames/19288/1673740/frame20.jpg,frame0
...,...,...,...,...,...
200,875,29195.83,"[738, 69, 980, 400]",just_yolo_frames/19288/1822741/frame875.jpg,frame620
201,880,29362.67,"[732, 67, 975, 398]",just_yolo_frames/19288/1822741/frame880.jpg,frame620
202,885,0.00,"[722, 65, 965, 394]",just_yolo_frames/19288/1822741/frame885.jpg,frame620
203,890,0.00,"[712, 64, 956, 392]",just_yolo_frames/19288/1822741/frame890.jpg,frame620
204,895,0.00,"[702, 67, 945, 393]",just_yolo_frames/19288/1822741/frame895.jpg,frame620

In [34]:
pp = df.groupby(['name', 'img_path']).size().to_frame()

In [36]:
pp[pp>1].dropna()

Empty DataFrame
Columns: [0]
Index: []

In [43]:
predict_age(np.asarray(Image.open('just_yolo_frames/19288/1673740/frame70.jpg')))

'Age: (25, 32)-80.9%'